/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
	font-style: normal;
}

ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption,
th {
	text-align: left;
}

q:before,
q:after {
	content: '';
}

object,
embed {
	vertical-align: top;
}

legend {
	display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
}

img,
abbr,
acronym,
fieldset {
	border: 0;
}

/* ここまでリセットCSS */

:root {
	--main: #003473;
	--main_light: #eef5ff;
	--white: #fff;
}


body {
	margin: 0;
	font-family: 'Noto Sans JP',
		sans-serif;
	color: var(--main);
	background-color: var(--white);
	letter-spacing: 0.05em;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

span[class^="material"] {
	/* セレクタ名の前方一致 */
	margin: 0 10px 0 0;
	position: relative;
	top: 6px;
}

a {
	color: #0066ff;
	text-decoration: none;
}

a:hover,
.active {
	text-decoration: underline;
}

a:active,
a:focus,
input:active,
input:focus {
	outline: 0;
}


/* ヘッダー
------------------------------------------------------------*/
#mainnav a {
	color: var(--main);
	font-family: 'Modern Antiqua', 'Noto Sans JP', serif;
}

#sidebar_title {
	font-weight: 700;
}


/* フッター
------------------------------------------------------------*/
#footer {
	clear: both;
	padding: 50px 10px 50px 0;
	text-align: center;
	font-size: 12px;
}


/* 共通
------------------------------------------------------------*/


h2 {
	margin: 0 0 16px 0;
	border-bottom: solid 3px #cce4ff;
	position: relative;
	font-weight: bold;
	padding: 0 0 70px 0;
	letter-spacing: 0.3em
}


h2::after {
	position: absolute;
	content: " ";
	display: block;
	border-bottom: solid 3px #5472cd;
	bottom: -3px;
	width: 20%;
}


img {
	max-width: 100%;
	height: auto;
}



h2 {
	width: 60%;
	margin: 70px auto;
	text-align: center;
	font-size: 2em;


}

.inner {
	width: 80%;
	margin: 0 auto;
	padding-bottom: 50px;
}



.innerS {
	width: 60%;
	margin: 0 auto;
	padding-bottom: 80px;
}


/* SEC01 Galler */
.sos_title,
.masseage_sub_title {
	font-size: 1.5em;
	font-weight: bold;
	margin: 36px 0;
	letter-spacing: 0.1em;
}

.masseage_parent:nth-of-type(n+2) {
	margin-top: 64px;
}


/* SEC02 Gallery
------------------------------------------------------------*/
/* #sec02{
	padding: 0 !important;
}

#sec02 header{
	display: none;
}

#gallery{
	overflow: hidden;
}

#gallery li{
	float: left;
	width: calc(100%/3);
	line-height: 0;
}
#gallery li.full{
	width: 100%;
}


#gallery img{
	display: block;
	width: 100%;
	height: auto;
} */


/* SEC03 BRAND
------------------------------------------------------------*/
.col4 .img {
	margin: 0 auto;
}

.col4 img {
	border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  border: solid 0.1px;
	width:  100px;       /* ※縦横を同値に */
	height: 100px;       /* ※縦横を同値に */
}

.innerS {
	display: flex;
	flex-direction: column;
}

.innerS p {
	/* margin-left: 30px; */
	margin-bottom: 30px;
}

.a {
	margin-top: 40px;
	margin-right: 40px;
	text-align: right;
}

/* SEC04 PROJECT
------------------------------------------------------------*/
#sec04 {
	padding-bottom: 0 !important;
}

.article {
	clear: both;
	overflow: hidden;
	padding-bottom: 50px;
	display: flex;
	justify-content: center;
}

.article-content {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 25%;
	margin: 0 10px;
}

.article-content img {
	border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  border: solid 0.1px;
	width:  120px;       /* ※縦横を同値に */
	height: 120px;       /* ※縦横を同値に */
	align-items: center;
}

.article-content p {
	margin: 20px 0;
}

/* SEC05 COMPANY
------------------------------------------------------------*/
#sec05 p {
	margin-bottom: 5px;
}

.col2 li {
	display: inline-block;
	width: 100%;
	margin: 20px 0;
}

#map {
	position: relative;
	padding-bottom: 75%;
	height: 0;
	overflow: hidden;
	z-index: 0;
}

#map iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
	border: 0;
	border-radius: 10px;
}



/* RESPONSIVE 設定
------------------------------------------------------------*/

@media only screen and (min-width: 800px) {
	body {
		font-size: 14px;
	}

	#wrapper {
		width: 100%;
	}

	#content {
		width: 80%;
	}

	#sidebar {
		width: 12%;
		position: fixed;
		top: 0;
		right: 4%;
		background: #fff;
	}

	a#menu {
		display: none;
	}

	.panel {
		display: block !important;
	}

	#sidebar h1 {
		padding: 30px 0;
	}

	#mainnav li {
		font-size: 14px;
		padding: 10px 0;
	}

	#sns {
		margin-top: 50px;
	}

	#sns {
		display: flex;
		align-items: center;
		padding-right: 10px;
	}

	#sns a:hover img {
		opacity: .8;
	}

	/* SEC03 BRAND
	-----------------*/
	.col4 {
		text-align: center;
	}

	.col4 li {
		display: inline-block;
		width: 18%;
		padding: 0 3%;
		vertical-align: top;
		text-align: left;
	}

	#map iframe {
		height: 200px !important;
	}

	#footer {
		padding: 30px 10px 70px 0;
	}
}


@media only screen and (min-width: 641px) {
	.col2 li {
		width: 60%;
		vertical-align: top;
	}

	.col2 li:first-child {
		width: 35%;
		padding-right: 4%;
	}
}

@media only screen and (max-width: 640px) {
	.innerS {
		width: 94%;
		padding-bottom: 30px;
	}

	#gallery li {
		float: none;
		width: 100%;
	}

	.article img {
		float: none;
		display: block;
		margin: 0 auto 20px;
	}

	#map iframe {
		width: 96% !important;
		left: 2%;
	}
}

@media only screen and (max-width: 799px) {
	#sidebar {
		position: fixed;
		width: 100%;
		z-index: 500;
	}

	#sidebarWrap {
		position: relative;
		width: 100%;
		height: 60px;
		background: #fff;
		border-bottom: 1px solid #ccc;
	}

	#sidebar h1 {
		text-align: center;
		padding-top: 15px;
	}

	#sidebar h1 img {
		width: auto !important;
		max-height: 25px;
	}

	a#menu {
		display: inline-block;
		position: relative;
		width: 40px;
		height: 40px;
		margin: 10px;
	}

	#menuBtn {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 18px;
		height: 2px;
		margin: -1px 0 0 -7px;
		background: #000;
		transition: .2s;
	}

	#menuBtn:before,
	#menuBtn:after {
		display: block;
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		width: 18px;
		height: 2px;
		background: #000;
		transition: .3s;
	}

	#menuBtn:before {
		margin-top: -7px;
	}

	#menuBtn:after {
		margin-top: 5px;
	}

	a#menu .close {
		background: transparent;
	}

	a#menu .close:before,
	a#menu .close:after {
		margin-top: 0;
	}

	a#menu .close:before {
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
	}

	a#menu .close:after {
		transform: rotate(-135deg);
		-webkit-transform: rotate(-135deg);
	}

	.panel {
		width: 100%;
		display: none;
		overflow: hidden;
		position: relative;
		left: 0;
		top: -10px;
		z-index: 100;
	}

	#mainnav {
		position: absolute;
		top: 0;
		width: 100%;
		text-align: right;
	}

	#mainnav ul {
		border-bottom: 1px solid #ccc;
		background: #fff;
		text-align: left;
	}

	#mainnav li a {
		position: relative;
		display: block;
		padding: 15px 25px;
		border-bottom: 1px solid #ccc;

		font-weight: 400;
	}

	#mainnav #sns {
		display: flex;
		align-items: center;
	}

	#mainnav #sns li a {
		position: relative;
		display: inline-block;
		padding: 15px 10px 0;
		border: 0;
	}

	#logo_youtube,
	#logo_twitter {
		padding: 15px 10px
	}

	#mainnav #sns li a:before {
		border: 0;
	}

	.col4 li {
		margin: 0 auto 50px;
		display: block;
		text-align: center;
	}

	section h2 {
		margin: 55px auto;
	}
}



/* note表示用 */
#message {
	display: flex;
	justify-content: space-between
}

#message p img {
	display: none;
}

#message a.btn {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0
}

#message .mu {
	width: 28%;
	position: relative
}

#message .mu img {
	margin: 32px 0px;
	width: 100%;
	height: auto;
  border-radius: 10px;  /* 角丸半径を50%にする(=円形にする) */
  border: solid 0.1px;
}

#message .mu h3 {
	margin-bottom: 1em;
	font-size: 1.3rem;
	text-align: left;
	font-weight: 500;
}

#message .mu small {
	display: block
}

@media screen and (max-width: 750px) {
	#message {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	#message .mu {
		width: 80%;
	}
}

/*
  Share SNS
  Created by Toshihiko Arai.
  https://101010.fun/programming/css-sns-share.html
*/
.shareSns {
	list-style: none;
	overflow: hidden;
	margin: 0;
	padding: 0px;
}

.shareSns li {
	text-align: center;
	float: left;
	margin: 0;
	padding: 0px;
}

.shareSns li a {
	width: 180px;
	line-height: 50px;
	font-size: 20px;
}

.shareSns li a:hover {
	opacity: 0.8;
}

.shareSns li .icon-twitter {
	display: block;
	background: #55acee;
	color: #ffffff;
}

.shareSns li .icon-facebook {
	display: block;
	background: #3B5998;
	color: #ffffff;
}

.shareSns li .icon-hatebu {
	display: block;
	background: #008FDE;
	color: #ffffff;
}

.shareSns li .icon-pocket {
	display: block;
	background: #EB4654;
	color: #ffffff;
}

/*シェアボタン*/
.clearfi {
	display: flex;
}
